<h1>About Us</h1>
<p>My name is Julian Bridges and I am originally from Shelby, NC.  My parents are Jay and Carol Bridges and they have been married for 27 years.  I played baseball in college for 4 years and studied biology.  Now I am trying to become a developer.  Wish me luck!</p>
